.venv/
__pycache__/
*.pyc
.env
*.db
dataset/
.DS_Store
.agent/
docs/
server/data/*
!server/data/weather_dataset.csv
*.pkl
!server/models_saved/xgboost_fraud.pkl
client-interface-sample
.vscode
client-interface